.dropdown {
    position: absolute;
    margin-top: 95px;
    display: inline-block;
  }
  
  .dropbtn{
    font-size: 2rem;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
  }
 #grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grid-item::before {
  content: "";
  display: inline-block;
  padding-top: 100%;
  vertical-align: middle;
}

.grid-item > * {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.grid-item:hover {
  transform: scale(1.05);
}
