/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
  }
  
  
  
  /* Estilos de la sección de productos destacados (caja2) */
  .caja2 {
    height: 35rem;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .principal {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .info {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  /* Estilos del footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  